<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Matuasto JA</h1> - <h3>(years)</h3></li>
            <p>Gerente de Informática y Comunicación</p>
        </ul>
        <ul>
            <li><h1>TUS SRL</h1> - <h3>(years)</h3>
            </li>
            <p>Atencion al Cliente</p>
        </ul>
        <ul>
            <li><h1>La Casa de las Opticas</h1> - <h3>(years)</h3></li>
            <p>Social Media</p>
        </ul>
        <ul>
            <li><h1>SH Consultorios</h1> - <h3>(years)</h3></li>
            <p>Recepcion y Social Media</p>
        </ul>
    </div>
</div>