.row{
    padding: 20px;
}
div{
    background-color: #b0a1a1;
    text-align: center;
}
@media (min-width: 576px) {
    #fotodeperfil {
        position: absolute;
        width: 15%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 2%;
        top: 600px;
    }
}
@media (max-width: 575px) {
    #fotodeperfil {
        position: absolute;
        width: 30%;
        border-radius: 100%;
        box-shadow: 3px 3px 3px grey;
        left: 33%;
        top: 630px;
    }
}

#nombre{
    font-weight: bold;
    margin-top: 30%;
    margin-left: 15px;
}
