<div class="row">
    <h1>Experiencia Laboral</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Lugar 1</h1> - <h3>(years)</h3></li>
            <p>Puesto Descripcion</p>
        </ul>
        <ul>
            <li><h1>Lugar 2</h1> - <h3>(years)</h3>
            </li>
            <p>Puesto Descripcion</p>
        </ul>
        <ul>
            <li><h1>Lugar 3</h1> - <h3>(years)</h3></li>
            <p>Puesto Descripcion</p>
        </ul>
        <ul>
            <li><h1>Lugar 4</h1> - <h3>(years)</h3></li>
            <p>Puesto Descripcion</p>
        </ul>
    </div>
</div>